% Bracelet (rapport Locomotion Twin v2) : une bande à découper, un point de passage par colonne,
% l'heure centrale ; à plastifier ou glisser dans le brassard.
\documentclass{locomotionreport}
\geometry{paperwidth=<< bracelet_width_mm >>mm, paperheight=30mm, margin=2.5mm, headheight=0pt, headsep=0pt, footskip=0pt}
\pagestyle{empty}
\begin{document}
\noindent
{\LLmonofont\fontsize{6.5}{7.5}\selectfont\color{LLPrimaryDark}\LLtracked{\MakeUppercase{<< athlete >> \textperiodcentered{} << race_name >> \textperiodcentered{} << pred_central >>}}}\par
\vspace{2pt}
{\fontsize{7}{8}\selectfont\setlength{\tabcolsep}{2.2pt}\renewcommand{\arraystretch}{1.05}%
\begin{tabular}{@{}<% for r in bracelet_rows %>c<% endfor %>@{}}
<% for r in bracelet_rows %>{\LLetiquette{km\,<< r.km >>}}<% if not loop.last %> &<% endif %>
<% endfor %>\\
<% for r in bracelet_rows %>{\LLsemiboldfont\LLtabular << r.clock >><% if r.night %>\,$\bullet$<% endif %>}<% if not loop.last %> &<% endif %>
<% endfor %>\\
<% for r in bracelet_rows %>{\fontsize{5.2}{6}\selectfont\color{LLSoft}<< r.name >>}<% if not loop.last %> &<% endif %>
<% endfor %>\\
\end{tabular}}\par
\vspace{1pt}
{\fontsize{5.5}{6.5}\selectfont\color{LLMuted}heure centrale du plan \textperiodcentered{} $\bullet$ nuit \textperiodcentered{} fourchette : << plan_low >> – << plan_high >> \textperiodcentered{} << report_ref >>}
\end{document}
